.footer_container {
  width: 100%;
  min-height: 142px;
  border: none;
}

.wrapper_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: solid 2px #001f5e;
  img {
      filter: invert(50%) sepia(90%) saturate(1037%) hue-rotate(3deg) brightness(109%) contrast(103%);
  }
}

