header,
.menu-bg {
  .nav_item {
    // border: 2px solid #ff9900;
    // border-radius: 21px;
    width: 100%;
    height: 42px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      letter-spacing: -0.55px;
      color: #001a57;
    }

    span {
      font: normal bold 20px/30px Nunito;
      letter-spacing: -0.55px;
      color: #001f5e;
    }

    .buy_badge {
      a {
        background: #5232db;
        color: white;
        border-radius: 28px;
        padding: 0px 20px;
      }
    }
  }

  .right_social_container .right_social .wrapper_circle {
    border: solid 2px #001f5e;
    filter: invert(50%) sepia(90%) saturate(1037%) hue-rotate(3deg) brightness(109%) contrast(103%);
  }

  .arrow-left {
    filter: invert(50%) sepia(90%) saturate(1037%) hue-rotate(3deg) brightness(109%) contrast(103%);

    img {
      transform: rotate(180deg);
    }
  }
}

@media (min-width: 769px) {
  .nav_menu {
    display: flex;
    //margin: 0 0 0 1rem;
  }

  .header .right_social_container {
    display: flex;
    //margin: 0 0 0 20px;
  }
}

.presale_wrapper {
  width: 100%;

  @media screen and (max-width: 576px) {
    width: 60%;
  }

  height: 42px;
  border-radius: 21px;
  max-width: 400px;

  .first_div {
    width: 220px;
    background: linear-gradient(90deg, #f39612, #ee587d);
    border-radius: 21px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  .second_div {
    width: 60px;
    background-color: #ee587d;
    opacity: 0.27;
    border-radius: 0 21px 21px 0;
    z-index: 0;
    position: relative;
    left: -20px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-language {
  // width: 160px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font: normal 20px/30px Nunito;
    letter-spacing: -0.55px;
    color: black;
  }

  span {
    letter-spacing: -0.55px;
    color: black;
  }
}

.custom-menu-button {
  background-color: white;
  color: black;
}